<html> 
  <div class="col-md-12 d-flex justify-content-center">
    <h1> Data transmission through public channels using steganography </h1>
  </div>
  <div class="container-fluid col-md-12 justify-content-center">


    <div class="col-md-12 d-flex justify-content-center">
      <div class="col-md-6 mt-2 d-flex justify-content-center">
          <span> To Encode: </span>
          <ul>
              <li>
                  Upload an image
              </li>
              <li>
                  Type the text you want encoded
              </li>
              <li>
                  Click on Encode
              </li>
              <li>
                  Download the resulting image
              </li>
          </ul>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="col-md-6 mt-2 d-flex justify-content-center">
          <span> To Decode: </span>
          <ul>
              <li>
                  Upload an image
              </li>
              <li>
                  Click on Decode
              </li>
              <li>
                  The decoded text will appear in the respective textfield.
              </li>
          </ul>
      </div>
      </div>


  <app-image (displayOldValues)="displayOldValues= $event" (exists)="exists= $event" ></app-image>

  <mat-divider></mat-divider>
  
  <app-text [textOutput]="textOutput" (textInput)="textInput = $event" [exists] = "exists"></app-text>

  <app-button (textOutput)="textOutput = $event" (blob)="blob = $event" [textInput]="textInput" (displayOldValues)="displayOldValues= $event"></app-button>

  <app-save *ngIf="displayOldValues" [blob] = "blob"></app-save>
  <div class="col-md-12">
    <h4 style="text-align: right;"> Coded and built by Enikő Vadon </h4>
  
  </div>
</div>


</html>
