<div class="container-fluid mt-2">

  <app-image (displayOldValues)="displayOldValues= $event" (exists)="exists= $event" ></app-image>

  <mat-divider></mat-divider>
  
  <app-text [textOutput]="textOutput" (textInput)="textInput = $event" [exists] = "exists"></app-text>

  <app-button (textOutput)="textOutput = $event" (blob)="blob = $event" [textInput]="textInput" (displayOldValues)="displayOldValues= $event"></app-button>

  <app-save [displayOldValues]="displayOldValues" [blob] = "blob"></app-save>

</div>