<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <mat-label>Please type the text you wish to encode: </mat-label>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
        <mat-label>The decoded text: </mat-label>
    </div>
</div>


<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <mat-form-field appearance="fill">
            <textarea matInput [matTextareaAutosize]="true" [disabled]="!exists" type="text" [(ngModel)] = "value" [maxLength]="maxSpace || 100" id="textAreaIn" (input)="sendText()"> </textarea>
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-label class="text-info" *ngIf="space">Remaining characters: {{space}} </mat-label>
        </mat-form-field> 
</div>

<mat-divider [vertical]="true"></mat-divider>

  
<div class="col-md-6 d-flex justify-content-center">

    <mat-form-field appearance="fill">
        <textarea matInput [matTextareaAutosize]="true" disabled="true" type="text" [(ngModel)] = "textOutput" [maxLength]="maxSpace || 100" id="textAreaOut"></textarea>
    </mat-form-field>

    </div>

</div>