<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <mat-label>Please type the text you wish to encode: </mat-label>
    </div>

    <div class="col-md-6 d-flex justify-content-center">
        <mat-label>The decoded text: </mat-label>
    </div>
</div>


<div class="col-md-12 d-flex justify-content-center">
    <div class="col-md-6 d-flex justify-content-center">
        <form [formGroup]="textForm">
        <mat-form-field appearance="fill" style="width:30vw">
            <textarea matInput [matTextareaAutosize]="true" type="text" 
            [(ngModel)] = "value" [maxLength]="maxSpace || 100" id="textAreaIn" (input)="sendText()"
            pattern="[\x00-\x7F]+" formControlName="inputText"
            > </textarea>
            <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
              <mat-icon>close</mat-icon>
            </button>
            <mat-label class="text-info" *ngIf="space">Remaining characters: {{space}} </mat-label>
            <mat-error *ngIf="textForm.get('inputText').hasError('pattern')">Only ASCII characters</mat-error>
        </mat-form-field> 
    </form>
</div>


<mat-divider [vertical]="true"></mat-divider>

  
<div class="col-md-6 d-flex justify-content-center">

    <mat-form-field appearance="fill" style="width:30vw">
        <textarea matInput [matTextareaAutosize]="true" disabled="true" type="text" [(ngModel)] = "textOutput" id="textAreaOut"></textarea>
    </mat-form-field>

    </div>

</div>