img {
    max-height: 300px;
    max-width: 400px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


div {
    background-color:rgba(221,218,231,0.9);
    margin: 5px;
    padding: 3px;
    font-size: large;
    border-radius: 10px;
}

button {
    margin: 5px, 5px, 5px, 5px;
}

:disabled {
    color: lightcyan;
}

html {
    padding: 30px;
    background-color: #DABFED;
}

html, body { height: 100%; }
body { margin: 10px ; font-family: Roboto, "Helvetica Neue", sans-serif; }
